@charset "utf-8";
/* CSS Document */

#footer {
	width: 920px;
	height: 42px;
	padding: 20px 30px 0;
	color: #663300;
	text-align: center;
	background: url(images/footer.png) no-repeat;
	clear:both;
}

#footer a {
	color: #044a85;
}

/* end of footer */