@charset "utf-8";
/* CSS Document */

form.thinform {
	width: 14em;
	margin:20px auto;
	border: 1px solid #bbb7ae;
	padding: .5em .5em .15em;
	
}

.thinform h3 {
	margin: 0;
	padding: 0 0 .2em .2em;
	font-weight: 600;
	color: #bbb7ae;
}

.thinform fieldset {
	margin: 0;
	padding: 0 0 .2em 0;
	width: 100%
	border: 0;
}

.thinform .section {
	overflow: hidden;
	padding: .2em 0 .4em 0;
	border-bottom: 8px solid #e7e5df;
}

.thinform .section:last-child {
	border-bottom: 0;
}

.thinform .section label,
.thinform .section h4 {
	display: block;
	clear: both;
	margin: .3em .3em 0 0;
	padding-bottom: 1em;
	font-size: .8em;
	font-family: "Droid Sans";
	font-weight: 400;
	line-height: 1.1em;
}

.thinform .section label span,
.thinform .section h4 span {
	font-size: .75em;
	vertical-align: text-top;
	color: #f00;
}

.thinform .section .note {
	font-size: .8em;
	color: #f00;
	margin: 0;
	padding: 0 0 .3em 0;
}

.thinform .section input,
.thinform .section textarea,
.thinform .section select {
	margin: .2em .5em .2em 0;
	padding: .2em .4em;
	color: #000;
	-webkit-box-shadow: 1px 1px 3px #ccc;
	-moz-box-shadow: 1px 1px 3px #ccc;
	box-shadow: 1px 1px 3px #ccc;
	font-size: .8em;
	font-family: inherit;
	outline: none;
}
.sideformcol {
	width: 5em;	
}